/* CSS Reset rule */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    outline: 1px dashed red;
}

/* Root Section */
:root {
    /* Color Scheme */

    /* General Colors */
    --color-white: #ffffff;
    --color-black: #000000;
    --color-grey: #222222;

    /* Main Content */
    --main-content-bg: #141922;
    --main-top-bg: #080b12;
    --play-nav-bg: #282828;

    /* Subtitles Music Disc */
    --subtitle: #727479;
}