/* CSS Reset rule */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* outline: 1px dashed red; */
}

/* Root Section */
:root {
    /* Color Scheme */

    /* General Colors */
    --color-white: #ffffff;
    --color-black: #000000;
    --color-grey: #222222;
    --color-lgrey: #808080;

    /* Main Content */
    --main-content-bg: #141922;
    --main-top-bg: #080b12;
    --play-nav-bg: #282828;
    --nav-grey-selected: #d2d2d2;
    --nav-grey-not-selected: #a3a3a3;
    --color-bar: #575757;
    --list-decoration-underline: #c0ff30;

    /* Subtitles Music Disc */
    --subtitle: #727479;
}

/* *************** */
/* CSS STYLE BEGIN */
/* *************** */

/* General Tags */
html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
    display: block
}

li, a, span {
    text-decoration: none;
    list-style: none;
    display: block;
}

.flex {
    display: flex;
}

.wrapper {
    min-width: 380px;
}

.test {
    max-width: 1400px;
}


/* Aside Navigation Bar */
.nav-aside {
    background-color: var(--color-black);
    height: calc(100vh - 90px);
    width: 270px;
    overflow: hidden;
}

.nav-wrapper {
    height: 100%;
}

.dskt-nav-aside {
    padding: 0 1.5rem;
    color: var(--color-white);
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
    .logo-container {
        width: 70%;
        margin-top: 2rem;
    }

.nav-list-aside {}

    .nav-list {
        flex-direction: column;
        margin-top: 1.5rem;
        gap: 0.8rem;
    }
    .nav-item-link {
        color: var(--nav-grey-not-selected);
        font-size: 0.9rem;
        align-items: center;
        gap: 0.6rem;
    }
        .nav-active {
            position: relative;
        }
        .nav-active::after {
            content: "";
            position: absolute;
            left: -1.5rem;
            top: 0;
            height: 100%;
            width: 3px;
            background-color: var(--list-decoration-underline);
        }
        .nav-active > .nav-item-link {
            color: var(--color-white);
        }

    .nav-list-icon {
        font-size: 1.5rem;
    }

.nav-playlist-aside {
    margin-top: 2rem;
}

    .nav-playlist-title {
        text-transform: uppercase;
        font-size: 1.2rem;
    }
    .pl-add-new {
        align-items: center;
        gap: 1rem;
        margin-top: 0.8rem;
    }
        .pl-icon-add {
            font-size: 3rem;
        }

    .playlist-list {
        flex-direction: column;
        gap: 1rem;
        margin-top: 1.5rem;
    }
        .nav-pl-item {
            color: var(--nav-grey-not-selected);
            font-weight: 500;
            font-size: 0.9rem;
        }

.user-info-aside {
    margin-bottom: 1rem;
}
    .app-download-btn {
        color: var(--nav-grey-not-selected);
        font-size: 0.8rem;
        gap: 0.5rem;
        font-weight: 600;
        border-bottom: 2px solid var(--nav-grey-not-selected);
        padding-bottom: 1rem;
        cursor: pointer;
        width: 100%;
    }
        .app-download-icon {
            font-size: 1rem;
        }
    .user-profile {
        margin-top: 1rem;
        align-items: center;
        gap: 0.8rem;
    }
        .user-img-profile {
            background-color: var(--color-lgrey);
            width: 30px;
            height: 30px;
            border-radius: 50%;
            overflow: hidden;
        }

.mble-nav-aside {
    display: none;
}

    /* Media Query Section */
    @media screen and (max-width: 776px){
        .dskt-nav-aside {
            display: none;
        }
        .mble-nav-aside {
            height: 100%;
            padding: 0 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .logo-container {
            width: 100%;
        }
        .nav-aside {
            width: 80px;
        }
        .app-download-btn {
            justify-content: center;
            border: none;
            padding: 0;
        }
        .nav-active::after {
            content: "";
            position: absolute;
            left: -1rem;
            top: 0;
            height: 100%;
            width: 3px;
            background-color: var(--list-decoration-underline);
        }
        .user-img-profile {
            margin-top: 1rem;
        }
        .nav-list > li {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .user-info-aside {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

/* Main Content */
.main-content {
    background-color: var(--main-content-bg);
    height: calc(100vh - 90px);
    width: calc(100% - 270px);
    overflow-y: scroll;
}

.main-wrapper {
    padding: 0 1rem;
}

.upgrade-plan {
    padding: 1.5rem 0;
    background-color: var(--main-top-bg);
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}
    .upgrade-plan-btn {
        width: 250px;
        color: var(--color-white);
        text-transform: uppercase;
        border: 1.2px solid var(--color-white);
        padding: 0.8rem 0;
        border-radius: 2rem;
        font-weight: 600;
        text-align: center;
        margin-right: 1rem;
    }

.content-type-nav {
    width: 100%;
    padding: 1.65rem 0;
}
    .content-nav-list {
        justify-content: center;
        gap: 2.5rem;
        flex-wrap: wrap;
    }
        .main-nav-content-item {
            position: relative;
            color: var(--color-lgrey);
            text-transform: uppercase;
            font-weight: 600;
            font-size: 0.85rem;
        }
        .main-nav-content-item::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -7px;
            height: 1.5px;
            width: 35%;
            background-color: var(--list-decoration-underline);
            transform: translate(-50%);
        }
    
.main-content-row {
    margin-top: 2rem;
    width: 100%;
}
    .row-section-title {
        color: var(--color-white);
        font-size: 2rem;
        padding-left: 0.5rem;
    }
    .music-row-wrapper {
        flex-wrap: wrap;
        margin-top: 2rem;
    }
        .module {
            width: calc((100% / 6) - 1rem);
            margin: 0 .5rem;
            text-align: center;
        }
            .module-cover-cont {

            }
                .module-cover-cl {
                    border-radius: 50%;
                    overflow: hidden;
                }
        .module-title {
            margin-top: 1.7rem;
            color: var(--color-white);
        }
        .module-subtitle-title {
            color: var(--color-lgrey);
            font-weight: 600;
            font-size: 1rem;
            margin-top: 1rem;
            padding-left: 0.5rem;
        }
        .module-subtitle {
            color: var(--color-lgrey);
            font-weight: 600;
            font-size: 0.85rem;
            margin-top: 0.6rem;
        }

    /* Media Query Section */
    @media screen and (max-width: 1400px) {
        .module {
            width: calc((100% / 4) - 1rem);
        }
        .music-row-wrapper {
            row-gap: 1.5rem;
        }
    }
    @media screen and (max-width: 992px) {
        .module {
            width: calc((100% / 2) - 1rem);
        }
    }
    @media screen and (max-width: 776px) {
        .main-content {
            width: calc(100% - 80px); 
        }
        .upgrade-plan {
            padding: 1.2rem 0;
        }
        .upgrade-plan-btn {
            width: 200px;
            font-size: 0.8rem;
        }
    }
    

/* Play Bar for user */
.nav-play {
    background-color: var(--play-nav-bg);
    width: 100%;
    height: 90px;
    z-index: 5;
    padding: 0 1rem;
}

.music-disc-section {
    flex: 1 1 25%;
    height: 100%;
    align-items: center;
}
    .disc-playing-img {
        width: 65px;
    }
    .album-infos {
        margin-left: 1rem;
    }
        .album-current-title {
            color: var(--color-white);
            font-size: 0.9rem;
        }
        .album-current-name {
            color: var(--color-lgrey);
            font-weight: 600;
            font-size: 0.85rem;
        }

    .add-album-profile {
        margin-left: 2rem;
    }
        .add-album-list {
            gap: 1.2rem;
        }
        .album-button-item {
            color: var(--color-lgrey); 
            font-size: 1rem;  
        }
.music-actions {
    flex: 2 1 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
    .music-control-button {

    }
        .music-buttons-list {
            justify-content: center;
            align-items: center;
            gap: 2.2rem;
        }
        .music-button-item {
            color: var(--color-white); 
            font-size: 1.5rem; 
        }
        #play-btn {
            font-size: 2.2rem; 
            margin: 0 0.5rem;
        }
 
    .music-timer {
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 0.4rem;
    }
        .music-time-start,
        .music-time-end {
            color: var(--color-white); 
            font-size: 0.9rem;
            font-weight: 500;
        }
        .music-duration-bar {
            height: 5px;
            width: 50%;
            border-radius: 1rem;
            background-color: var(--color-bar);
        }
        .music-duration-passed {
            background-color: var(--nav-grey-selected);
            border-radius: 1rem;
            height: 5px;
            width: 10%;
        }

.user-self-actions {
    flex: 1 1 25%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}
    .user-self-button-list {
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
        .self-action-item {
            color: var(--color-white); 
            font-size: 1rem;  
        }
    
    .volume-complete-bar {
        height: 5px;
        width: 35%;
        border-radius: 1rem;
        background-color: var(--color-bar);
    }
        .volume-current-device {
            background-color: var(--nav-grey-selected);
            border-radius: 1rem;
            height: 5px;
            width: 30%;
        }

    /* Media Query Section */
    @media screen and (max-width: 776px) {
        .music-disc-section {
            flex: 1 1 30%;
        }
            .album-infos {
                margin-left: 0.7rem;
            }
            .add-album-profile {
                margin-left: 0.8rem;
            }
                .add-album-list {
                    flex-direction: column;
                    gap: 0.5rem;
                }
        .music-actions {
            flex: 2 1 40%;
        }
            .music-buttons-list {
                gap: 1.3rem;  
            }
            .music-button-item {
                font-size: 1.2rem; 
            }
            #play-btn {
                font-size: 2rem; 
                margin: 0 0.3rem;
            }
        .user-self-actions {
            flex: 1 1 30%;
            gap: 0.5rem;
        }
            .user-self-button-list {
                gap: 1rem;
            }
    }
    @media screen and (max-width: 480px) {
        .music-disc-section {
            flex: 1 1 30%;
        }
            .album-infos {
                display: none;
            }
        .music-actions {
            flex: 2 1 30%;
        }
            .music-buttons-list {
                gap: 1rem;  
            }
            .music-button-item {
                font-size: 1.2rem; 
            }
            #play-btn {
                font-size: 2rem; 
                margin: 0 0.5rem;
            }
            .music-time-start,
            .music-time-end {
                font-size: 0.8rem;  
            }
        .user-self-actions {
            flex: 1 1 30%;
            gap: 0.5rem;
        }
            .volume-complete-bar {
                display: none;
            }
    }