/* CSS Reset rule */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    outline: 1px dashed red;
}

/* Root Section */
:root {
    /* Color Scheme */

    /* General Colors */
    --color-white: #ffffff;
    --color-black: #000000;
    --color-grey: #222222;
    --color-lgrey: #808080;

    /* Main Content */
    --main-content-bg: #141922;
    --main-top-bg: #080b12;
    --play-nav-bg: #282828;
    --nav-grey-selected: #d2d2d2;
    --nav-grey-not-selected: #a3a3a3;

    /* Subtitles Music Disc */
    --subtitle: #727479;
}

/* *************** */
/* CSS STYLE BEGIN */
/* *************** */

/* General Tags */
html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
}

li, a {
    text-decoration: none;
    list-style: none;
    display: block;
}

.flex {
    display: flex;
}


/* Aside Navigation Bar */
.nav-aside {
    background-color: var(--color-black);
    height: calc(100vh - 100px);
    width: 270px;
    overflow: hidden;
    
}
.dskt-nav-aside {
    padding: 0 1.5rem;
    color: var(--color-white);
    flex-direction: column;
}
    .logo-container {
        width: 70%;
    }

.nav-list-aside {}

    .nav-list {
        flex-direction: column;
    }
    .nav-item-link {
        color: var(--nav-grey-not-selected);
        font-size: 0.9rem;
    }
        .nav-active {
            color: var(--color-white);
        }
    .nav-list-icon {
        font-size: 1.5rem;
    }

.nav-playlist-aside {}

    .nav-playlist-title {
        text-transform: uppercase;
        font-size: 1.2rem;
    }
    .pl-add-new {
        align-items: center;
        gap: 1rem;
    }
        .pl-icon-add {
            font-size: 3rem;
        }

    .playlist-list {
        flex-direction: column;
        gap: 1rem;
    }
        .nav-pl-item {
            color: var(--nav-grey-not-selected);
            font-weight: 500;
            font-size: 0.9rem;
        }

.user-info-aside {
    justify-self: self-end;
}
    .user-img-profile {
        background-color: var(--color-lgrey);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
    }
        .divider {
            height: ;
        }

.mble-nav-aside {
    display: none;
}

    /* Media Query Section */

/* Main Content */
.main-content {
    background-color: var(--main-content-bg);
    height: calc(100vh - 100px);
    width: calc(100% - 270px);
    overflow-y: scroll;
}

    /* Media Query Section */

/* Play Bar for user */
.nav-play {
    background-color: var(--play-nav-bg);
    height: 100px;
    z-index: 5;
}

    /* Media Query Section */